<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Intraprenørdagene" %></title>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag :main %>
    <%= javascript_include_tag :all %>

    <!-- tmp icons -->
    <link rel="stylesheet" href="https://i.icomoon.io/public/temp/06eb7037bb/Intrapre/style-svg.css">
    <script src="https://i.icomoon.io/public/temp/06eb7037bb/Intrapre/svgxuse.js"></script>
    <!-- /tmp icons -->

  </head>

  <body class="<%= page_classes %>">

    <header class="site-header">

      <nav role="navigation" class="show-for-medium-up">
        <ul class="nav site-nav">
          <li class="nav__item"><%= link_to 'About', '/about.html' %></li>
          <li class="nav__item"><a href="">Konferansen</a></li>
          <li class="nav__item"><a href="">Call for papers</a></li>
        </ul>
      </nav>


      <nav role="navigation" class="flex-right">
        <ul class="nav site-nav">
          <li class="nav__item">
            <% if locale.to_s == 'no' %>
              <%= link_to 'English', '/english/index.html', { :class => "bg-color-accent" } %>
            <% else %>
              <%= link_to 'Norsk', '/index.html', { :class => "bg-color-accent" } %>
            <% end %>
          </li>
          <li class="nav__item show-for-medium-up"><a class="bg-color-primary" href=""><%= t('Book your ticket')%></a></li>
        </ul>
      </nav>
    </header>

    <div class="hero">
      <%= image_tag "home.png" , { :class => 'hero__background', :alt => 'todo' } %>
      <div class="page-wrapper">

        <h1 class="hero__title">
          <span class="hero__logo">
            <%= image_tag "logo.png" %>
          </span>
          Intraprenørdagene 2016
        </h1>

        <div class="hero__text">
          <%= t('intro') %>
        </div>

        <ul class="hero__details">
          <li>
            <span class="icon-circle">
              <svg class="icon icon-location icon--circle-solid"><use xlink:href="#icon-location"></use></svg>
            </span>
            Hotell Scandic Fornebu
          </li>
          <li>
            <span class="icon-circle">
              <svg class="icon icon-calendar"><use xlink:href="#icon-calendar"></use></svg>
            </span>
            9. - 10. mai 2016
          </li>
        </ul>

        <button class="hero__cta btn btn--right btn--accent">
          <%= t('book your ticket')%>
        </button>


      </div>
    </div>

    <div class="page-wrapper">
      <%= yield %>
    </div>

    <footer class="site-footer">
      
    </footer>


  </body>
</html>
