<div class="speaker speaker--<%= size%>">
    <a class="link-one">

      <%= image_tag "speakers/#{speaker.img}--#{size}.png"   , :class => 'speaker__img' %>

      <div class="speaker__txt">
        <h2 class="speaker__title"><%= speaker.name %></h2>
        <p class="speaker__desc"><%= speaker.description %></p>
        <div class="speaker__rollover">
            <hr>
            <%= speaker.text %>
        </div>
      </div>
    </a>
</div>