---
title: Intraprenørdagene Home
---

<!-- Hero -->
<div class="hero">
  <%= image_tag "home.png" , { :class => 'hero__background', :alt => 'todo' } %>
  <div class="page-wrapper">

    <h1 class="hero__title">
      <span class="hero__logo">
        <%= image_tag "logo.png" %>
      </span>
      Intraprenørdagene 2016
    </h1>

    <div class="hero__text">
      <%= t('intro') %>
    </div>

    <ul class="hero__details">
      <li>
          <svg class="icon icon-location icon--circle-solid"><use xlink:href="#icon-location"></use></svg>
        Hotell Scandic Fornebu
      </li>
      <li>
          <svg class="icon icon-calendar icon--circle-solid"><use xlink:href="#icon-calendar"></use></svg>
        9. - 10. mai 2016
      </li>
    </ul>

    <button class="hero__cta">
      <%= t('book your ticket')%>
    </button>

  </div>
</div>


<!-- Blocks -->
<div class="grid blocks">
    <div class="grid__item block">
        <svg class="icon icon-ticket"><use xlink:href="#icon-office"></use></svg>
        <h2><%= t('venue')%></h2>
        <div class="muted block__text show-for-medium-up">Cool Place To Hang Out</div>
        <div class="block__text show-for-medium-up">9th - 10th May 2016</div>
    </div>
    <div class="grid__item block">
        <svg class="icon icon-ticket"><use xlink:href="#icon-ticket"></use></svg>
        <h2><%= t('tickets')%></h2>
        <div class="muted block__text show-for-medium-up">&nbsp;</div>
        <div class="block__text show-for-medium-up">&nbsp;</div>
    </div>
    <div class="grid__item block">
        <svg class="icon icon-podium"><use xlink:href="#icon-podium"></use></svg>
        <h2><%= t('speakers')%></h2>
        <div class="muted block__text show-for-medium-up">&nbsp;</div>
        <div class="block__text show-for-medium-up">&nbsp;</div>
    </div>
    <div class="grid__item block">
        <svg class="icon icon-ticket"><use xlink:href="#icon-calendar"></use></svg>
        <h2><%= t('program')%></h2>
        <div class="muted block__text show-for-medium-up">&nbsp;</div>
        <div class="block__text show-for-medium-up">&nbsp;</div>
    </div>
</div>

<section>

  <div class="section-title bg-color-background-shade">
      <h4><%= t('Speakers in Intraprenørdagene')%></h4>
      <hr>
  </div>

  <div class="speakers">
    <div class="speaker speaker--large">
      <a href="#" class="link-one">
        <%= tag :img, :src => lorem.image('600x600'), :class => 'speaker__img'%>
        <div class="speaker__txt">
          <h2>Geoffrey Moore</h2>
          <p><%= lorem.sentences 2 %></p>
        </div>
      </a>
    </div>
    <div class="speaker speaker--large">
      <div class="speakers">
        <div class="speaker speaker--medium">
          <a href="#" class="link-two">
            <%= tag :img, :src => lorem.image('600x300'), :class => 'speaker__img'%>
            <div class="speaker__txt">
              <h2>Geoffrey Moore</h2>
              <p><%= lorem.sentences 2 %></p>
            </div>
          </a>
        </div>
        <div class="speaker speaker--small">
          <a href="#" class="link-three">
            <%= tag :img, :src => lorem.image('600x600'), :class => 'speaker__img'%>
            <div class="speaker__txt">
              <h2>Geoffrey Moore</h2>
              <p><%= lorem.sentences 1 %></p>
            </div>
          </a>
        </div>
        <div class="speaker speaker--small">
          <a href="#" class="link-four">
            <%= tag :img, :src => lorem.image('600x600'), :class => 'speaker__img'%>
            <div class="speaker__txt">
              <h2>Geoffrey Moore</h2>
              <p><%= lorem.sentences 1 %></p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section>

  <div class="section-title">
      <h4><%= t('Up Coming Events')%></h4>
      <hr>
  </div>

  <div class="page-wrapper">

  <div class="grid grid--valign-middel grid--medium--vertical">
    <div class="grid__item">

      <div class="card venue__card">
        <h2 class="show-for-medium-up">VENUE</h2>
        <ul class="venue__details">
          <li>
              <svg class="icon icon-location icon--circle-border"><use xlink:href="#icon-location"></use></svg>
            Hotell Scandic Fornebu
          </li>
          <li>
              <svg class="icon icon-calendar icon--circle-border"><use xlink:href="#icon-calendar"></use></svg>
            9. - 10. mai 2016
          </li>
        </ul>
        <p><%= t('venue-desc')%></p>

        <button class="venue__cta">
          <%= t('book your ticket')%>
        </button>

      </div>
    </div>

    <div class="grid__item">
      <%= image_tag "venue.png", {class: 'venue__img'} %>
    </div>

  </div>

</section>

<section>
  <div class="section-title">
      <h4><%= t('Get Your Tickets')%></h4>
      <hr>
  </div>

  <div class="page-wrapper">
    <ul class="tickets">
      <li>
        <ul class="ticket">
          <li class="ticket__title">Conference Ticket : Inovation Conferance</li>
          <li class="ticket__price">$399 / £260</li>
          <li class="ticket__cta">
            <svg class="icon icon-ticket"><use xlink:href="#icon-ticket2"></use></svg>
            Buy Your Ticket
          </li>
        </ul>
      </li>

      <li>
        <ul class="ticket">
          <li class="ticket__title">Conference Ticket : Inovation Conferance</li>
          <li class="ticket__price">$399 / £260</li>
          <li class="ticket__cta ticket__cta--soldout">
            <svg class="icon icon-ticket"><use xlink:href="#icon-ticket2"></use></svg>
            Buy Your Ticket
          </li>
        </ul>
      </li>
    </ul>

    <button class="tickets__cta">
      <%= t('book your ticket')%>
    </button>

    <div>
      <p>Alle priser er eks. MVA.</p>
      <p>Billettsalg åpner den 4. april. Vi forventer at konferansen blir utsolgt. Ved å forhåndsreservere billett er du sikker på at du får mulighet til å kjøpe billett og får du også 20% rabatt.</p>
      <p>Billetten din gir tilgang til alle tracks, begge dager + middag og prisutdeling på kvelden den 9. mai</p>
    </div>
  </div>
</section>

<section>
  <div class="ribbon" style="background-image: url(/images/home.png)">
    <div class="page-wrapper">
      <div class="statistics">
        <div class="statistics__item">
          <svg class="icon icon-user"><use xlink:href="#icon-user"></use></svg>
          <h2>150</h2>
          <span><%= t('stat-speakers')%></span>
        </div>
        <div class="statistics__item">
          <svg class="icon icon-globe"><use xlink:href="#icon-globe"></use></svg>
          <h2>10</h2>
          <span><%= t('stat-nations')%></span>
        </div>
        <div class="statistics__item">
          <svg class="icon icon-calendar2"><use xlink:href="#icon-calendar2"></use></svg>
          <h2>154</h2>
          <span><%= t('stat-venues')%></span>
        </div>
        <div class="statistics__item">
          <svg class="icon icon-group"><use xlink:href="#icon-group"></use></svg>
          <h2>2500</h2>
          <span><%= t('stat-attendance')%></span>
        </div>
      </div>
    </div>
  </div>
</section>



<!--
<div class="welcome">
  <div class="logo">
    <%= image_tag "middleman-logo.svg" %>
  </div>
  <h1>Middleman is Running</h1>

  <p class="doc">
    <%= link_to "Read Documentation Online", "https://middlemanapp.com", target: "_blank" %>
  </p></div>
  -->
