---
title: Intraprenørdagene Home
---

<!-- Hero -->
<div class="hero">
  <%= image_tag "home.png" , { :class => 'hero__background', :alt => 'todo' } %>
  <div class="page-wrapper">

    <h1 class="hero__title">
      <span class="hero__logo">
        <%= image_tag "logo.png" %>
      </span>
      Intraprenørdagene 2016
    </h1>

    <div class="hero__text">
      <%= t('intro') %>
    </div>

    <ul class="hero__details">
      <li>
        <span class="icon-circle">
          <svg class="icon icon-location icon--circle-solid"><use xlink:href="#icon-location"></use></svg>
        </span>
        Hotell Scandic Fornebu
      </li>
      <li>
        <span class="icon-circle">
          <svg class="icon icon-calendar"><use xlink:href="#icon-calendar"></use></svg>
        </span>
        9. - 10. mai 2016
      </li>
    </ul>

    <button class="hero__cta">
      <%= t('book your ticket')%>
    </button>

  </div>
</div>


<!-- Blocks -->
<div class="grid blocks">
    <div class="grid__item block">
        <svg class="icon icon-ticket"><use xlink:href="#icon-office"></use></svg>
        <h2><%= t('venue')%></h2>
        <div class="muted block__text show-for-medium-up">Cool Place To Hang Out</div>
        <div class="block__text show-for-medium-up">9th - 10th May 2016</div>
    </div>
    <div class="grid__item block">
        <svg class="icon icon-ticket"><use xlink:href="#icon-ticket"></use></svg>
        <h2><%= t('tickets')%></h2>
        <div class="muted block__text show-for-medium-up">&nbsp;</div>
        <div class="block__text show-for-medium-up">&nbsp;</div>
    </div>
    <div class="grid__item block">
        <svg class="icon icon-podium"><use xlink:href="#icon-podium"></use></svg>
        <h2><%= t('speakers')%></h2>
        <div class="muted block__text show-for-medium-up">&nbsp;</div>
        <div class="block__text show-for-medium-up">&nbsp;</div>
    </div>
    <div class="grid__item block">
        <svg class="icon icon-ticket"><use xlink:href="#icon-calendar"></use></svg>
        <h2><%= t('program')%></h2>
        <div class="muted block__text show-for-medium-up">&nbsp;</div>
        <div class="block__text show-for-medium-up">&nbsp;</div>
    </div>
</div>

<section>

  <div class="section-title bg-color-background-shade">
      <h4><%= t('Speakers in Intraprenørdagene')%></h4>
      <hr>
  </div>


  <div class="speakers">
    <div class="speaker speaker--large">
      <a href="#" class="link-one">
        <%= tag :img, :src => lorem.image('600x600'), :class => 'speaker__img'%>
        <div class="speaker__txt">
          <h2>Geoffrey Moore</h2>
          <p><%= lorem.sentences 2 %></p>
        </div>
      </a>
    </div>
    <div class="speaker speaker--large">
      <div class="speakers">
        <div class="speaker speaker--medium">
          <a href="#" class="link-two">
            <%= tag :img, :src => lorem.image('600x300'), :class => 'speaker__img'%>
            <div class="speaker__txt">
              <h2>Geoffrey Moore</h2>
              <p><%= lorem.sentences 2 %></p>
            </div>
          </a>
        </div>
        <div class="speaker speaker--small">
          <a href="#" class="link-three">
            <%= tag :img, :src => lorem.image('600x600'), :class => 'speaker__img'%>
            <div class="speaker__txt">
              <h2>Geoffrey Moore</h2>
              <p><%= lorem.sentences 2 %></p>
            </div>
          </a>
        </div>
        <div class="speaker speaker--small">
          <a href="#" class="link-four">
            <%= tag :img, :src => lorem.image('600x600'), :class => 'speaker__img'%>
            <div class="speaker__txt">
              <h2>Geoffrey Moore</h2>
              <p><%= lorem.sentences 2 %></p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section-title">
    <h4><%= t('Up Coming Events')%></h4>
    <hr>
</div>

<div class="section-title">
    <h4><%= t('Get Your Tickets')%></h4>
    <hr>
</div>

<!--
<div class="welcome">
  <div class="logo">
    <%= image_tag "middleman-logo.svg" %>
  </div>
  <h1>Middleman is Running</h1>

  <p class="doc">
    <%= link_to "Read Documentation Online", "https://middlemanapp.com", target: "_blank" %>
  </p></div>
  -->
